@import "../../app.scss";
.skills {
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titleContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mobile {
      width: 100%;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 50px;

      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      h1 {
        font-size: 96px;
        font-weight: 100;

        @include mobile {
          font-size: 36px;
        }
      }
    }
  }
  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1366px;
    margin: auto;
    margin-bottom: 50px;

    @include mobile {
      flex-direction: column;
      width: 100%;
    }

    .box {
      padding: 50px;
      border: 0.5px solid gray;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include mobile {
        border: none;
        align-items: center;
        gap: 20px;
        padding: 10px;
      }

      p {
        @include mobile {
          display: none;
        }
      }
    }
  }

